{% extends "base.html" %}
{% load i18n static %}
{% load get_extras %}


{% block title %}Return Messages{% endblock %}

{% block title_description %}
{% endblock %}

{% block context %}
<div class="row">
    <div class="col-12 mb-lg">
        <section class="widget pb-0">
            <header>
                <form action="{% url 'aliyun_sms:download_sms_up' %}" method="post">
                    {% csrf_token %}
                    <div class="widget-controls">
                        <button class="btn btn-xs p-1 px-3 btn-info">导出</button>
                    </div>
                </form>
                <form action="{% url 'aliyun_sms:download_sms_up' %}" method="post">
                    {% csrf_token %}
                    <div class="widget-controls">
                        <button class="btn btn-xs p-1 px-3 btn-info">导出</button>
                    </div>
                </form>
            </header>
            <div class="widget-body">
                <table class="table">
                    <thead>
                        <tr class="row">
                            <th class="col-1">#</th>
                            <th class="col-2">{% get_model_fields_name 'SmsUp' 'phone_number' %}</th>
                            <th class="col-2">{% get_model_fields_name 'SmsUp' 'send_time' %}</th>
                            <th class="col-5">{% get_model_fields_name 'SmsUp' 'content' %}</th>
                            <th class="col-2 pl-3">{% get_model_fields_name 'SmsUp' 'sign_name' %}</th>
                            {% comment %} <th class="d-none d-md-table-cell">{% get_model_fields_name 'SmsUp' 'dest_code' %}</th>
                            <th class="d-none d-md-table-cell">{% get_model_fields_name 'SmsUp' 'sequence_id' %}</th> {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for tr in sms_up_data %}
                        <tr class="row">
                            <td class="col-1">{{ tr.id }}</td>
                            <td class="col-2">{{ tr.phone_number }}</td>
                            <td class="col-2">{{ tr.send_time | date:'Y-m-d H:i:s' }}</td>
                            <td class="col-5">{{ tr.content }}</td>
                            <td class="col-2">{{ tr.sign_name }}</td>
                            {% comment %} <td class="d-none d-md-table-cell">{{ tr.dest_code }}</td>
                            <td class="d-none d-md-table-cell">{{ tr.sequence_id }}</td> {% endcomment %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="clearfix">
                            <div class="float-right">
                                    <span>
                                        {% if sms_up_data.has_previous %}
                                            <a href="?page=1">&laquo; first</a>
                                            <a href="?page={{ sms_up_data.previous_page_number }}">previous</a>
                                        {% endif %}

                                        <span class="current">
                                            Page {{ sms_up_data.number }} of {{ sms_up_data.paginator.num_pages }}.
                                        </span>

                                        {% if sms_up_data.has_next %}
                                            <a href="?page={{ sms_up_data.next_page_number }}">next</a>
                                            <a href="?page={{ sms_up_data.paginator.num_pages }}">last &raquo;</a>
                                        {% endif %}
                                    </span>
                            </div>
                            <p>Each page displays 15 pieces of data.</p>
                        </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}